version: '3'
services:
  companion:
    image: transloadit/companion
    ports:
      - "3022:3022"
    environment:
      - COMPANION_SECRET=1234567890
      - COMPANION_DOMAIN=localhost
      - COMPANION_PORT=3022
      - COMPANION_DATADIR=/app
      - COMPANION_AWS_KEY=AKIAXIBZ7RG6PDJAXIE2
      - COMPANION_AWS_SECRET=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
      - COMPANION_AWS_BUCKET=contratos-paivalima
      - COMPANION_AWS_REGION=us-east-1
  app:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle install && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/paivalima
    ports:
      - "3000:3000"
    entrypoint: ./entrypoints/entrypoint-development.sh
    depends_on:
      - companion
